<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648114808831-5c0jk6am9dpjicsol0a6l5oe5uc5eenp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648114808831-5c0jk6am9dpjicsol0a6l5oe5uc5eenp</string>
	<key>API_KEY</key>
	<string>AIzaSyCluWXTQFm0zYngUsLmRtztfhLsPOLh9HM</string>
	<key>GCM_SENDER_ID</key>
	<string>648114808831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ulltraApp</string>
	<key>PROJECT_ID</key>
	<string>ultra-app-2b103</string>
	<key>STORAGE_BUCKET</key>
	<string>ultra-app-2b103.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648114808831:ios:753e794866dabd3e7fe9ca</string>
</dict>
</plist>